<div id="banner-container" class="container my-2 my-lg-4 position-relative">
  <div id="banner" class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    @if (banner !== '') {
      <img id="banner-img" class="rounded-3" ngSrc="{{banner}}" fill priority alt="banner">
    }
    <div id="banner-header"
         class="col-lg-7 p-3 p-lg-5 pt-lg-3 bg-white bg-opacity-75 rounded-top-3 rounded-bottom-start-3 border border-bottom-0 shadow-lg ">
      <h3 class="display-6 fw-bold lh-1 text-dark text-truncate">{{ (channel$ | async)?.title }}</h3>
      <p class="lead text-dark text-truncate">{{ (channel$ | async)?.description }}</p>
      <small class="text-dark text-truncate">{{ (channel$ | async)?.support }}</small>
    </div>
  </div>
  <div class="col m-auto position-absolute top-0 end-0 p-2">
    <button type="button" class="btn btn-primary btn  me-md-2 border fw-bold" (click)="editChannel()">
      <i class="bi bi-pen-fill bi-border me-0 me-sm-2"></i>
      <span class="d-none d-sm-inline-block">Edit</span>
    </button>
  </div>
</div>

<section class="py-5 text-center container">

  <div class="no-album py-5" *ngIf="(streams$ | async)?.length === 0">
    <div class="container">
      <div class="p-5 text-center bg-body-tertiary rounded-3 border border-dashed">
        <h4 class="text-body-emphasis">No Streams</h4>
      </div>
    </div>
  </div>

  <div class="album py-5" *ngIf="(streams$ | async)?.length !== 0">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 g-3 row-cols-md-3">
        <ng-template ngFor let-stream [ngForOf]="streams$ | async">
          <app-stream-card [stream]="stream"></app-stream-card>
        </ng-template>
      </div>
    </div>
  </div>

</section>
