.stream-thumbnail {
  aspect-ratio: 1.77;
}

.data-row-caption {
  text-align: left;
  flex: 1;
  overflow: hidden;
}

.app-card-img-overlay {
  text-align: right;
  position: absolute;
  top: 5px;
  right: 5px;
}
