<ng-template *ngIf="stream">
  <h2>Live Stream: {{stream.id | uppercase}}</h2>

  <div>
    <video id="video" style="background-color: black" muted autoplay></video>
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button id="btn-join" class="btn btn-primary" (click)="start()" type="button" [disabled]="!mediaStream">
    <ng-template *ngIf="!mediaStream"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </ng-template>
    <ng-template *ngIf="!!mediaStream">
      Join
    </ng-template>
  </button>

  <div>
    <video id="remote-video" style="background-color: black" muted autoplay></video>
  </div>
</ng-template>
