<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">
    @if (isEdit) {
      Edit Stream
    } @else {
      New Stream
    }
  </h2>
  <form class="py-5 needs-validation" [formGroup]="streamForm" (ngSubmit)="save(fileInput)">

    <!--    Nav Tab menu -------------------------------------------------------------------------------------------------->
    <nav>
      <div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
        <button class="nav-link active"
                id="nav-stream-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-stream"
                type="button"
                role="tab"
                aria-controls="nav-stream"
                aria-selected="true">Stream
        </button>
        <button class="nav-link"
                id="nav-protocol-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-protocol"
                type="button"
                role="tab"
                aria-controls="nav-protocol"
                aria-selected="false">Protocol
        </button>
        <button class="nav-link"
                id="nav-guest-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-guest"
                type="button"
                role="tab"
                aria-controls="nav-guest"
                aria-selected="false">Guests
        </button>
      </div>
    </nav>

    <!--    Nav Tab content ------------------------------------------------------------------------------------------->
    <div class="tab-content" id="nav-tabContent">

      <!--    Nav Tab Stream content ---------------------------------------------------------------------------------->
      <div class="tab-pane fade show active"
           id="nav-stream"
           role="tabpanel"
           aria-labelledby="nav-stream-tab"
           tabindex="0"
      >
        <div class="row mb-3">
          <label for="title" class="col-sm-3 col-form-label fw-bold">Title*</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="title" formControlName="title" name="title">

            @if (isFieldInvalid('title')) {
              <div class="invalid">
                @if (getFieldError('title', 'required')) {
                  <div>Title is required.</div>
                }
                @if (getFieldError('title', 'minlength')) {
                  <div>Title must be at least 4 characters long.</div>
                }
                @if (getFieldError('title', 'maxlength')) {
                  <div>Title can only be 50 characters long.</div>
                }
              </div>
            }

          </div>
        </div>

        <div class="row mb-3">
          <label for="file" class="col-sm-3 col-form-label fw-bold">Thumbnail</label>
          <div class="col-sm-9">
            <input class="form-control" type="file" id="file" #fileInput placeholder="Default Thumbnail">
          </div>
        </div>

        <div class="row mb-3">
          <label for="description" class="col-sm-3 col-form-label fw-bold">Description</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="description" rows="3" formControlName="description"
                      name="description"></textarea>

            @if (isFieldInvalid('description')) {
              <div class="invalid">
                @if (getFieldError('description', 'maxlength')) {
                  <div>Description can only be 250 characters long.</div>
                }
              </div>
            }

          </div>
        </div>

        <div class="row mb-3 pb-3">
          <label for="support" class="col-sm-3 col-form-label fw-bold">Support</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="support" rows="2" formControlName="support" name="support"></textarea>
            @if (isFieldInvalid('support')) {
              <div class="invalid">
                @if (getFieldError('support', 'maxlength')) {
                  <div>Support can only be 150 characters long.</div>
                }
              </div>
            }
          </div>
        </div>

        <hr>

        <div class="row mb-3 pb-3">
          <label for="time" class="col-sm-3 col-form-label mt-sm-4 fw-bold">Time*</label>
          <div class="col-sm-9">
            <ngb-timepicker
              id="time"
              [(ngModel)]="time"
              [ngModelOptions]="{standalone: true}"
              #timepicker
            />
            <small class="pt-2">Add a start time in HH:MM format (e.g., 08:30 or 15:45).</small>
          </div>
        </div>

        <hr>

        <div class="row mb-3  pb-3">
          <label for="time" class="col-sm-3 col-form-label fw-bold">Day*</label>
          <div class="col-sm-9">
            <div class="input-group mt-2 p-q" id="date-picker-group">
              <input type="text" id="date-picker" class="form-control" aria-label="day"
                     aria-describedby="button-addon2" ngbDatepicker #d="ngbDatepicker" formControlName="day">
              <button class="btn btn-sm btn-primary group-btn" type="button" (click)="d.toggle()">Select a Day</button>
            </div>

            @if (isFieldInvalid('day')) {
              <div class="invalid">
                @if (getFieldError('day', 'required')) {
                  <div>A Day is required.</div>
                }
                @if (getFieldError('day', 'ngbDate')) {
                  <div>A Day must be a valid date (Ex: yyyy-mm-dd)</div>
                }
              </div>
            }

          </div>
        </div>

        <hr>

        <div class="row mb-3 ">
          <label for="public" class="col-sm-3 col-form-label fw-bold">Is Public</label>
          <div class="col-sm-9  pt-1">
            <input class="form-check-input mt-2" type="checkbox" id="public" formControlName="isPublic">
          </div>
        </div>
      </div>

      <!--    Nav Tab Protocol content -------------------------------------------------------------------------------->
      <div
        class="tab-pane fade show"
        id="nav-protocol"
        role="tabpanel"
        aria-labelledby="nav-protocol-tab"
        tabindex="0"
      >
        <div class="row mb-3 ">

          <div class="alert alert-primary" role="alert">
            At this time, our implementation supports only the WHIP protocol for streaming. Support for additional
            protocols or custom modifications is not yet available. However, this is an area we're actively working on,
            and we welcome community feedback or contributions to help move things forward.
            <span class=""> You can follow the progress or contribute directly on: <a href="https://github.com/shigde"
                                                                                      class="text-success"><i
              class="bi bi-github"></i> Shig</a></span>
          </div>

        </div>
        <div class="row mb-3 ">
          <label for="isShig" class="col-sm-3 col-form-label fw-bold">Stream with Shig</label>
          <div class="col-sm-9  pt-1">
            <input class="form-check-input mt-2" type="checkbox" id="isShig" formControlName="isShig">
          </div>
        </div>

        <div class="row mb-3">
          <label for="url" class="col-sm-3 col-form-label fw-bold">Stream Url*</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="url" formControlName="url" name="url">

            @if (isFieldInvalid('url')) {
              <div class="invalid">
                @if (getFieldError('url', 'required')) {
                  <div>Stream url is required.</div>
                }
                @if (getFieldError('url', 'minlength')) {
                  <div>Stream url has to be valid!</div>
                }
              </div>
            }
          </div>
        </div>

        <div class="row mb-3">
          <label for="streamKey" class="col-sm-3 col-form-label fw-bold">Stream Key*</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="streamKey" formControlName="streamKey" name="streamKey">

            @if (isFieldInvalid('streamKey')) {
              <div class="invalid">
                @if (getFieldError('streamKey', 'required')) {
                  <div>Stream Key is required.</div>
                }
                @if (getFieldError('streamKey', 'minlength')) {
                  <div>Stream Key must be at least 8 characters long.</div>
                }
                @if (getFieldError('streamKey', 'maxlength')) {
                  <div>Stream Key can only be 100 characters long.</div>
                }
              </div>
            }
          </div>
        </div>

        <div class="row mb-3">
          <label for="protocol" class="col-sm-3 col-form-label fw-bold">Protocol*</label>
          <div class="col-sm-9">

            <div class="btn-group mt-2 mb-2" role="group" aria-label="Streaming Protocol">
              <input type="radio" class="btn-check" name="protocol" id="whip" formControlName="protocol" value="2"
                     autocomplete="off" checked>
              <label class="btn btn-sm btn-outline-primary text-dark-emphasis" for="whip">WHIP</label>

              <input type="radio" class="btn-check" name="protocol" id="rtmp" formControlName="protocol" value="1"
                     autocomplete="off">
              <label class="btn btn-sm btn-outline-primary text-dark-emphasis" for="rtmp">RTMP</label>

              <input type="radio" class="btn-check" name="protocol" id="moq" formControlName="protocol" value="3"
                     autocomplete="off">
              <label class="btn btn-sm btn-outline-primary text-dark-emphasis" for="moq">MoQ</label>
            </div>

          </div>
        </div>

        <div class="row mb-3">
          <label for="latencyMode" class="col-sm-3 col-form-label fw-bold">Latency Mode*</label>
          <div class="col-sm-9">

            <div class="btn-group mt-2 mb-2" role="group" aria-label="Streaming Protocol">
              <input type="radio" class="btn-check" name="latencyMode" id="low" formControlName="latencyMode" value="1"
                     autocomplete="off">
              <label class="btn btn-sm btn-outline-primary text-dark-emphasis" for="low">Low</label>

              <input type="radio" class="btn-check" name="latencyMode" id="standard" formControlName="latencyMode"
                     value="2"
                     autocomplete="off" checked>
              <label class="btn btn-sm btn-outline-primary text-dark-emphasis" for="standard">Standard</label>

              <input type="radio" class="btn-check" name="latencyMode" id="high" formControlName="latencyMode" value="3"
                     autocomplete="off">
              <label class="btn btn-sm btn-outline-primary text-dark-emphasis" for="high">High</label>
            </div>

          </div>
        </div>

        <div class="row mb-3 ">
          <label for="permanentLive" class="col-sm-3 col-form-label fw-bold">Permanent Live</label>
          <div class="col-sm-9  pt-1">
            <input class="form-check-input mt-2" type="checkbox" id="permanentLive" formControlName="permanentLive">
          </div>
        </div>

        <div class="row mb-3 ">
          <label for="saveReplay" class="col-sm-3 col-form-label fw-bold">Save for Replay</label>
          <div class="col-sm-9  pt-1">
            <input class="form-check-input mt-2" type="checkbox" id="saveReplay" formControlName="saveReplay">
          </div>
        </div>

      </div>

      <!--    Nav Tab Guest content ----------------------------------------------------------------------------------->
      <div
        class="tab-pane fade show"
        id="nav-guest"
        role="tabpanel"
        aria-labelledby="nav-guest-tab"
        tabindex="0"
      >
        <div class="row mb-3">

          <div class="alert alert-primary" role="alert">
            At this time, our implementation does not yet support inviting guests to a stream. This is a feature we're
            actively working on, and we welcome feedback or contributions from the community.
            <span class=""> You can follow the progress or contribute directly on: <a href="https://github.com/shigde"
                                                                                      class="text-success"><i
              class="bi bi-github"></i> Shig</a></span>
          </div>

          <label for="guest1" class="col-sm-3 col-form-label fw-bold">Guest 1</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="guest1" formControlName="guest1" name="guest1">
            @if (isFieldInvalid('guest1')) {
              <div class="invalid">
              </div>
            }
          </div>
        </div>
        <div class="row mb-3">
          <label for="guest2" class="col-sm-3 col-form-label fw-bold">Guest 2</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="guest3" formControlName="guest2" name="guest2">
            @if (isFieldInvalid('guest2')) {
              <div class="invalid">
              </div>
            }
          </div>
        </div>
        <div class="row mb-3">
          <label for="guest3" class="col-sm-3 col-form-label fw-bold">Guest 3</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="guest3" formControlName="guest3" name="guest1">
            @if (isFieldInvalid('guest3')) {
              <div class="invalid">
              </div>
            }
          </div>
        </div>
        <div class="row mb-3">
          <label for="guest4" class="col-sm-3 col-form-label fw-bold">Guest 4</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="guest4" formControlName="guest4" name="guest4">
            @if (isFieldInvalid('guest4')) {
              <div class="invalid">
              </div>
            }
          </div>
        </div>
        <div class="row mb-3">
          <label for="guest5" class="col-sm-3 col-form-label fw-bold">Guest 5</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="gues5" formControlName="guest5" name="guest5">
            @if (isFieldInvalid('guest5')) {
              <div class="invalid">
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!---    End Nav Tab content -------------------------------------------------------------------------------------->

    <hr>

    <!--    Button row ------------------------------------------------------------------------------------------------>
    <div class="row mt-4">
      <div class="col-sm-9 offset-sm-3">
        <div class="form-button">
          <button type="button" class="btn btn-secondary me-3" (click)="goToStream()">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
