<div id="device-settings">
    <form class="row-form" name="settingForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="settingForm">

        <div class="form-group mb-3" >
            <label for="microphone">Microphone</label>
            <select class="form-select" id="microphone" name="microphone"  data-cy="microphone" formControlName="microphone" (selectionchange)="onChange()">
                <option value="" disabled>Choose an audio input</option>
                <option *ngFor="let option of settingsOptions.microphone" [value]="option.value">{{ option.viewValue }}</option>
            </select>
            <div class="error"
                 *ngIf="settingForm.get('microphone')!.invalid && (settingForm.get('microphone')!.dirty || settingForm.get('microphone')!.touched)">
<!--                <small class="form-text text-danger" *ngIf="settingForm.get('microphone')?.errors?.required">-->
<!--                    Microphone is required.-->
<!--                </small>-->
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="camera">Camera</label>
            <select class="form-select" id="camera" name="camera"  formControlName="camera"  data-cy="camera" (selectionchange)="onChange()">
                <option value="" disabled>Choose a camera</option>
                <option *ngFor="let option of settingsOptions.camera" [value]="option.value">{{ option.viewValue }}</option>
            </select>
            <div class="error"
                 *ngIf="settingForm.get('camera')!.invalid && (settingForm.get('camera')!.dirty || settingForm.get('camera')!.touched)">
<!--                <small class="form-text text-danger" *ngIf="settingForm.get('camera')?.errors?.required">-->
<!--                    Camera is required.-->
<!--                </small>-->
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="camera">Quality</label>
            <select class="form-select" id="quality" name="quality" formControlName="quality"  data-cy="quality" (selectionchange)="onChange()">
                <option *ngFor="let option of settingsOptions.quality" [value]="option.value">{{ option.value }}</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="videoCodec">Video-Codec</label>
            <select class="form-select" id="videoCodec" name="videoCodec" formControlName="videoCodec" data-cy="videoCodec" (selectionchange)="onChange()">
                <option *ngFor="let option of settingsOptions.videoCodec" [value]="option.value">{{ option.value }}</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="bandwidth">Bandwidth</label>
            <select class="form-select" id="bandwidth" name="bandwidth" formControlName="bandwidth" data-cy="bandwidth" (selectionchange)="onChange()">
                <option *ngFor="let option of settingsOptions.bandwidth" [value]="option.value">{{ option.value }}</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <button type="button" class="btn btn-secondary btn-lg" (click)="close()">Close</button>
        </div>
    </form>
</div>
