<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog">
  <div class="modal-dialog w-100 " role="document">
    <div class="modal-content w-100 rounded-3 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Password forget</h1>
      </div>

      <div class="modal-body p-5 pt-0 row">
        <p class="success" *ngIf="success">We received your request and send you an email!</p>

        <form id="passForgetForm" class="" [formGroup]="passForgetForm" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3 is-invalid" >
            <input type="email" class="form-control rounded-3"
                   [ngClass]="emailValid"
                   aria-autocomplete="inline"
                   id="email" placeholder="" formControlName="email" aria-describedby="emailFeedback"
                   (input)="emailClean()"
            >
            <label for="email">Email address</label>
            <div id="emailFeedback" class="invalid-tooltip">Please add a valid email address.</div>
          </div>

          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Submit</button>

          <hr class="my-4">
          <small class="text-body-secondary">You don't have an account? <a href="/signup">Sign-up</a></small>
        </form>
      </div>
    </div>
  </div>
</div>
