<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Edit Channel</h2>
  <form class="py-5 needs-validation" [formGroup]="channelForm" (ngSubmit)="save(fileInput)">

    <div class="row mb-3">
      <label for="name" class="col-sm-3 col-form-label fw-bold">Name*</label>
      <div class="col-sm-9">

        <div class="input-group has-validation">
          <input type="text" class="form-control domain-name-input" id="name" formControlName="name" name="name">
          <span class="input-group-text">&#64;{{ domain }}</span>
        </div>

        @if (name?.invalid && (name?.dirty || name?.touched)) {
          <div class="invalid">
            @if (name?.hasError('required')) {
              <div>
                Name is required.
              </div>
            } @else if (name?.hasError('minlength')) {
              <div>
                Name must be at least 4 characters long.
              </div>
            } @else if (name?.hasError('maxlength')) {
              <div>
                Name can only be 50 characters long.
              </div>
            }
          </div>
        }

      </div>

    </div>

    <div class="row mb-3">
      <label for="description" class="col-sm-3 col-form-label fw-bold">Description</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="3" id="description" formControlName="description"
                  name="description"></textarea>

        @if (description?.invalid && (description?.dirty || description?.touched)) {
          <div class="invalid">
            @if (description?.hasError('maxlength')) {
              <div>
                Description can only be 250 characters long.
              </div>
            }
          </div>
        }
      </div>
    </div>

    <div class="row mb-3">
      <label for="support" class="col-sm-3 col-form-label fw-bold">Support</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="2" id="support" formControlName="support" name="support"></textarea>

        @if (support?.invalid && (support?.dirty || support?.touched)) {
          <div class="invalid">
            @if (support?.hasError('maxlength')) {
              <div>
                Support can only be 150 characters long.
              </div>
            }
          </div>
        }
      </div>
    </div>

    <div class="row mb-3">
      <label for="file" class="col-sm-3 col-form-label fw-bold">Banner</label>
      <div class="col-sm-9">
        <input class="form-control" type="file" id="file" #fileInput placeholder="Default Banner">
      </div>
    </div>


    <div class="row mb-3">
      <label for="file" class="col-sm-3 col-form-label fw-bold">Is Public</label>
      <div class="col-sm-9 pt-1">
          <input class="form-check-input mt-2" type="checkbox" formControlName="public" name="public" id="public">
      </div>
    </div>

    <hr>

    <div class="row mt-4">
      <div class="col-sm-10 offset-sm-3">
        <div class="form-button">
          <button type="button" class="btn btn-secondary me-3" (click)="goToChannel()">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>

  </form>
</div>
