<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Edit Channel</h2>
  <form class="py-5">
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label fw-bold">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name">
      </div>
    </div>
    <div class="row mb-3">
      <label for="description" class="col-sm-2 col-form-label fw-bold">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="description" rows="3"></textarea>
      </div>
    </div>
    <div class="row mb-3">
      <label for="support" class="col-sm-2 col-form-label fw-bold">Support</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="support" rows="2"></textarea>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="public">
          <label class="form-check-label" for="public">
            Is Public
          </label>
        </div>
      </div>
    </div>

    <hr>

    <div class="row mt-4">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-button">
          <button type="button" class="btn btn-secondary me-3" (click)="goToChannel()">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>

  </form>
</div>
